/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.pane {
	-fx-background-color: black;
	-fx-padding: 10px;
}

#menu {
		-fx-background-color: black;
		-fx-text-fill: white ;
}

.menu-bar {
	-fx-background-color: black; 
    -fx-opacity: 0.9;
}

.menu-bar.label {

}

.vbox {
	
}

.hbox {
	-fx-padding:10px;
	-fx-border-color: black;
	-fx-border-insets: 1.0;
}

#titolo {
	-fx-font-family: sans-serif;
	-fx-font-size: 26.0px;   
	-fx-text-fill: white;
}

.text {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.label {
	-fx-text-fill: white ;
	-fx-font-size: 12.0pt;
    -fx-font-family: "Segoe UI Light";
}

.button {
	-fx-padding: 5px;
}